/* fallback */
/* @font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(material-icons.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
} */
/* @font-face {
	font-family: 'Lato Bold';
	font-style: normal;
	font-weight: 700;
	src: url(Lato-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato Black';
	font-style: normal;
	font-weight: 900;
	src: url(Lato-Black.ttf) format('truetype');
} */

/* - - - - - - - - - - */

html {
	font-family: 'Lato Bold', sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}
body {
	margin: 0;
	color: #7bc0ff;
	stroke: #7bc0ff;
	fill: #7bc0ff;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 2em;
}

h2 {
	margin: 0;
	font-size: 1.583rem;
}


.hidden {
	display: none !important;
}


.mdc-button,
.mdc-icon-button {
	padding: 0.521rem;
	font-family: 'Lato Bold', sans-serif;
	font-size: 1rem;
	transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, color, stroke, fill;
}
.mdc-button {
	height: auto;
	min-height: 2.917rem;
	border-radius: 0.333rem;
}
.mdc-button.round,
.mdc-icon-button {
	width: 4.167rem;
	height: 4.167rem;
}
.mdc-button.mdc-button--raised,
.mdc-icon-button.mdc-button--raised {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.mdc-button.round,
.mdc-icon-button.round {
	border-radius: 50%;
}

.mdc-button.selected,
.mdc-icon-button.selected {
	background-color: #7bc0ff;
	color: #fff;
	stroke: #fff;
	fill: #fff;
}
.mdc-button.locked,
.mdc-icon-button.locked {
	display: none;/* TEMP? */
}

.mdc-button__label.prom {
	font-family: 'Lato Black', sans-serif;
	font-size: 1.583rem;
	font-weight: 900;
}

.icon svg {
	display: block;
	margin: auto;
}
.icon.ball svg {
	width: 13rem;
}
#root-grid .icon.status .a,
#root-grid .icon.status-mm .a {
	fill: #fb6163;
}
.icon.ball svg,
.icon.status svg,
.icon.status-mm svg,
.icon.trophy svg {
	stroke: none;
}
#root-grid .icon.status svg {
	width: 3.219rem;
}
#message-grid .icon.status svg {
	width: 8.895rem;
}
#root-grid .icon.status-mm svg {
	width: 3.65rem;
}
#message-grid .icon.status-mm svg {
	width: 10.083rem;
}
.icon.ball .b,
.icon.status .b,
.icon.status-mm .b,
.icon.trophy .b,
.icon.warning .a {
	fill: #fff;
}
.icon.arrow svg {
	width: 1.879rem;
}
.icon.target svg {
	width: 1.661rem;
	fill: none;
}
.icon.target .a {
	stroke-width: 0.25rem;
}
.icon.target .b {
	stroke-width: 0.218rem;
}
.icon.bat {
	margin: 0.313rem 0 0.896rem;
}
.icon.bat svg {
	width: 2.792rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.icon.trophy svg {
	width: 8.572rem;
}
.icon.warning svg {
	width: 4.956rem;
}
.icon.warning .a {
	stroke-width: 0.5rem;
}


.center-col {
	grid-column: 2 / -2;
}

*[id*="-grid"],
*[class*="-grid"] {
	display: grid;
	box-sizing: border-box;
}
*[id*="-grid"] > .title {
	align-self: center;
}
#root-grid,
#message-grid {
	width: 100vw;
	height: 100vh;
	padding: 1.042rem;
	background: 50% 50% no-repeat;
	background-size: cover;
	gap: 1.042rem;
}
#root-grid,
#message-grid:not(.jam) {
	background-color: #e1f0ff;
	background-image: url(bkg_root.jpg);/* //TODO try larger PNG if storage space at end */
}
#root-grid {
	grid-template: 1.382fr 1fr 1fr 1fr 1.497fr auto / 1.1fr 1fr 1fr 1fr 1.1fr;
}
#root-grid.adjust-mode .adjust-mode-off,
#root-grid:not(.adjust-mode) .adjust-mode-on {
	display: none !important
}
#header-grid {
	grid-area: 1 / 1 / 2 / -1;
	grid-template-columns: 1fr 2.465fr 1fr;
}
#default,
#save {
	align-self: start;
}
#status-icon,
#status-icon-2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
#status-icon {
	min-height: 3.219rem;
	margin: 0.417rem 0 1.698rem;
}
/* #status-icon svg {
	transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1); TODO if time, solve not rotating via closest
} */
.center > .icon.status svg,
*:not(.center) > .icon.status-mm svg {
	display: none;
}
.top-right > .icon.status svg,
.center > .icon.status-mm svg {
	transform: rotate(0deg);
}
.right > .icon.status svg {
	transform: rotate(45deg);
}
.bottom-right > .icon.status svg {
	transform: rotate(90deg);
}
.bottom > .icon.status svg {
	transform: rotate(135deg);
}
.bottom-left > .icon.status svg {
	transform: rotate(180deg);
}
.left > .icon.status svg {
	transform: rotate(225deg);
}
.top-left > .icon.status svg {
	transform: rotate(270deg);
}
.top > .icon.status svg {
	transform: rotate(315deg);
}
#status-text {
	color: #fb6163;
}
#root-grid:not(.adjust-mode) #left,
#root-grid:not(.adjust-mode) #right {
	align-self: center;
}
#root-grid.adjust-mode #left,
#root-grid.adjust-mode #right {
	align-self: start;
}
#left {
	grid-area: 2 / 1 / 5 / 2;
}
#left .icon svg {
	transform: scaleX(1);
}
#right {
	grid-area: 2 / -1 / 5 / -2;
}
#right .icon svg {
	transform: scaleX(-1);
}
#aim-grid {
	grid-area: 2 / 2 / 5 / -2;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 0.667rem;
}
#p1 .icon svg {
	transform: rotate(135deg);
}
#p2 .icon svg,
#nudge-top .icon svg,
#nudge-splus .icon svg {
	transform: rotate(180deg);
}
#p3 .icon svg {
	transform: rotate(225deg);
}
#p4 .icon svg,
#nudge-left .icon svg {
	transform: rotate(90deg);
}
#p6 .icon svg,
#nudge-right .icon svg {
	transform: rotate(270deg);
}
#p7 .icon svg {
	transform: rotate(45deg);
}
#p5 .icon svg,
#p8 .icon svg,
#nudge-bottom .icon svg,
#nudge-sminus .icon svg {
	transform: rotate(0);
}
#p9 .icon svg {
	transform: rotate(315deg);
}
#pitch-grid,
#spring-grid,
#yaw-grid {
	align-items: end;
	padding-bottom: 1rem;
}
#pitch-grid,
#spring-grid {
	justify-items: center;
}
#pitch-grid {
	grid-area: -2 / 1 / -4 / 2;
}
#spring-grid {
	grid-area: -2 / -1 / -4 / -2;
}
#yaw-grid {
	grid-area: -2 / 2 / -3 / -2;
}
#yaw-grid .inner-grid {
	grid-template-columns: 1fr 0.45fr 1fr;
	justify-items: center;
	align-items: center;
}
#nudge-left {
	justify-self: end;
}
#nudge-right {
	justify-self: start;
}
#speed-grid {
	grid-area: -2 / 1 / -3 / -1;
}
#speed-grid .inner-grid {
	grid-template-columns: repeat(8, 1fr);
	justify-items: center;
}
#speed-grid .mdc-button.round,
#speed-grid .mdc-icon-button {
	width: 3rem;
	height: 3rem;
}
#footer-grid {
	grid-area: -1 / 1 / -2 / -1;
	grid-template-columns: 1.1fr 1fr 1fr 1fr 1.1fr;
	gap: 0.667rem;
}
#repeat {
	grid-column: 1 / 3;
}
#fire {
	grid-column: -1 / 3;
}

#message-grid {
	position: absolute;
	top: 0;
	grid-template-rows: 1fr 0.5fr 1fr minmax(2.917rem, auto);
	justify-items: center;
	align-items: center;
	font-family: 'Lato Black', sans-serif;
	font-weight: 900;
}
#message-grid.splash,
#message-grid.jam {
	fill: #fb6163;
}
#message-grid.jam {
	background-color: #ffe3e3;
	background-image: url(bkg_jam.jpg);/* //TODO try larger PNG if storage space at end */
	color: #fb6163;
	stroke: #fb6163;
}
#message-grid.cleared {
	grid-template-rows: 1fr 1fr 1fr minmax(2.917rem, auto);
}
#message-grid:not(.splash) .icon.ball,
#message-grid:not(.firing) #status-icon-2,
#message-grid:not(.jam) .icon.warning,
#message-grid:not(.cleared) .icon.trophy,
#message-grid:not(.firing) #status-text-2,
#message-grid:not(.firing):not(.jam):not(.cleared) #state-text,
#message-grid.splash #message-text,
#message-grid.splash #message-buttons,
#message-grid:not(.repeat) #stop,
#message-grid:not(.jam) #jam-cleared,
#message-grid:not(.cleared) #jam-exit {
	display: none;
}
#message-grid:not(.splash) #status-icons {
	align-self: start;
	margin-top: 2.542rem;
}
#message-grid.splash #status-icons {
	grid-row: 1 / -1;
}
#status-icon-2 {
	min-height: 8.895rem;
}
#status-text-2 {
	margin-top: 1.939rem;
}
#message-grid.firing #state-text {
	font-size: 6.667rem;
}
#message-grid.firing.loading #state-text {
	font-size: 5.5rem;
	line-height: 1.46;
}
#message-grid.cleared #state-text {
	align-self: end;
	line-height: 1.421;
	max-width: 23rem;
}
#message-grid.firing #message-text {
	margin-top: -1.9rem;
	line-height: 1.7;
}
#message-grid.jam #message-text {
	align-self: start;
	max-width: 24rem;
	font-family: 'Lato Bold', sans-serif;
	line-height: 1.263;
}
#message-grid.jam #state-text {
	font-size: 3.542rem;
}
#message-buttons {
	grid-row: -1 / -2;
	justify-self: stretch;
}
#message-buttons .mdc-button {
	width: 100%;
}